* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #1f2937;
    display: flex;
}

.section-1 {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}



ul {
    font-size: 14px;
    color: #e5e7eb;
    list-style-type: none;
    gap: 16px;
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-text {
    font-size: 14px;
    color: #e5e7eb;
}

.image-1 {
    color: #1f2937;
    font-size: 14px;
    width: 300px;
    height: 150px;
    background-color: #939799;

}

.button-1 {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
}

.section-2 {
    display: flex;
}

h2 {
    color: #1f2937;
    font-size: 30px;
    font-weight: 700;
    text-align: center;

}

figure {
    color: #1f2937;
    font-size: 14px;
    text-align: center;

}

img {
    width: 100px;
    height: 100px;
}

.section-3 {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 22px;
}

.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
}

h3 {
    font-size: 18px;
}

.button-2 {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    padding: 8px 16px;
    border-radius: 12px;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 16px;
}